body {
  margin: 0;
  padding: 0;
  background-color: hsl(204, 100%, 97%);
}

.App {
  width: 100vw;
  height: calc(100vh - 64px);
}

.mainContainer {
  height: 100%;
  width: 100vw;
  margin-top: 64px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}